  <div class="post">
        <h2 class="post-title"> 
            {{postData.title}}
        </h2>
        <p class="helper">
            By: {{postData.user.username}} on {{format_date postData.date_created}}

test---
        </p>
    </div>


