<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech-Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
   <nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>

   <header>
    <h1> <a href="/dashboard">Dashboard</a></h1>
  </header>

  <main>
    <div class="container">
      {{{body}}}
    </div>
  </main>
  
  <section class="addNewPost">
    <button><a href="/dashboard/newPost"> Add New Post</a></button> 
</section>

 <script src="/js/logout.js"></script>
 <script src="/js/dashboard.js"></script>

</body>

</html>


{{!-- res ren 
data: ____--}}
